*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: $light;
  background-color: $background-darker;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
