.footer {
  padding: 4.7rem 0;
  background-color: $background-lighter;
  &__wrapper {
    display: flex;
  }
  &__box {
    max-width: 37rem;
    width: 100%;
    &-company {
      margin-bottom: 2.4rem;
    }
    &-social {
      display: flex;
      align-items: center;
    }
  }
  &__title {
    margin-bottom: 3rem;
    font-size: 16px;
    font-weight: 500;
  }
  &__text {
    max-width: 26.5rem;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 100;
    opacity: 0.6000000238418579;
  }
  &__link {
    font-size: 1.4rem;
  }
}

.social {
  height: 1.5rem;
}
