.cards {
  &__card {
    max-width: 37rem;
    width: 100%;
    text-align: center;
    &:not(:last-of-type) {
      margin-right: 3rem;
    }
  }
  &__box {
    &-img {
      height: 100%;
      max-height: 300px;
    }
    &-text {
      padding: 0 3rem 5rem;
    }
  }
  &__img {
    object-fit: cover;
  }
  &__title {
    margin-bottom: 1.95rem;
    @extend %bold;
    @extend %medium-larger;
  }
  &__text {
    margin-bottom: 4rem;
    @extend %small;
    @extend %regular;
    color: $text-lighter;
  }
}
