$white: #ffffff;
$background-light: #fafafa;

$main-light: #F2582240;
$main-color: #f25822;
$main-dark: #F3602D;

$text-lighter: #AAAAAA;
$text-light: #888888;
$text-main: #666666;

$darker: #000000;

$transparent-grow: #F2582240;
$transparent-leads: #14921147;
$transparent-sales: #FFCD1D3D;
